.carusel {
	text-align: center;
}

.inline {
	display: inline-block;
}

.element {
	height: 150px;
	width: 150px;
	border: 1px #ccc solid;
}

.button-control {
	cursor: pointer;
}

.button-control:hover {
	color: #777;
}